@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #f5dfa5;
}

.navbar-mia {
    background-color: #ffffff;
    font-weight: bold;
    font-size: 200x;
}

.navbar-mia img {
    width: 95px;

}

/*===================CARRUSEL DE FOTOS==========================*/

.carrusel-fotos {
    max-height: 39rem !important;
}

.carrusel-mio img {
    height: 70vh;
}

.carrusel-mio h5 {
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5);
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos {
    position: relative;
    top: 130px;
}

#seccion-contacto {
    background-color: #f5dfa5;
    min-height: 500px;
    position: relative;
}

/*=========================NOSOTROS================================*/
#nosotros {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nosotros-contenido h2 {
    margin: 10px;
    padding: 0px;
    font-size: 40px;

}

.nosotros-contenido p {
    font-size: 20px;
}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 40px auto;
}


.heading h1,
h2 {
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    position: relative;
    text-shadow: 2px 2px 4px #000000;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
}

.heading p {
    font-size: 28px;
    color: #412715;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}


.nosotros-foto {
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}

.nosotros-foto img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

/*=========================NOSOTROS================================*/

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #412715;
    border-radius: 10px;

}


#titulo-formulario {
    color: #ffffff;
}

.btn-mio {
    color: rgb(255, 255, 255);
    background-color: rgb(120, 9, 9);
    border-color: white;
    transition: background-color 0.3s;


}

#locales {
    background-color: #f5dfa5;
    padding: 2%;
}

.locales-titulo {
    color: #ffffff;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

/*=========================FOOTER================================*/

#contacto-footer {
    height: 150px;
    position: relative;
    bottom: 0;
}


footer {
    background: #202020;
    padding: 20px;
    margin: 0;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos a {
    display: inline-block;
    margin: 0 8px;
    color: #f3f3f3;
    font-size: 26px;
}


/* menu */

.galeria-titulo {
    color: #ffffff;
    font-size: 40px;
    padding: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.galeria-titulo:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;

}

.port-image {
    width: 100%;
}

.galeria-producto {
    margin-bottom: 30px;

}

.img-responsive {
    width: 100%;
    border-radius: 20px;

}


/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px) {

    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }

    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

}

/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }


    #img-equipo {
        max-height: 20rem !important;
        width: 90%;
    }

    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

    #local {
        flex-wrap: wrap;
    }

    .mapa img {
        width: 100%;
        height: auto;
    }

    #bg-contactos {
        top: -120px;
    }


}

/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width: 100% !important;
    }

    #servicios-fila-1 {
        width: 100% !important;
    }

    .icono-wrap {
        flex-wrap: wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}