@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

#nosotros {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background-color: #f5dfa5;
}

h1,
h2 {
  text-align: center;
  font-size: 50px;
  color: #ffffff;
  position: relative;
  text-shadow: 2px 2px 4px #000000;
}

/*=========================NOSOTROS================================*/
#nosotros .nosotros-contenido h2 {
  margin: 5px;
  padding: 0px;
  font-size: 40px;
}

#nosotros .nosotros-contenido p {
  font-size: 20px;
  margin: 2px;
}

#nosotros .heading {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 40px auto;
}

#nosotros .heading h1,
#nosotros .heading h2 {
  text-align: center;
  font-size: 45px;
  color: #ffffff;
  position: relative;
  text-shadow: 2px 2px 4px #000000;
}

#nosotros .heading h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
}

#nosotros .heading p {
  font-size: 28px;
  color: #000;
  margin-bottom: 35px;
}

#nosotros .container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 25px;
}

#nosotros .nosotros-foto {
  flex: 1;
  overflow: hidden;
}

#nosotros .nosotros-foto img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.5s ease;
}

/*========================= MENU ================================*/
.galeria-titulo {
  color: #ffffff;
  font-size: 45px;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

.galeria-titulo:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
}

.port-image {
  width: 100%;
}

.galeria-producto {
  margin-bottom: 30px;
}

.img-responsive {
  width: 100%;
  border-radius: 20px;
}

/*========================= MENU ================================*/
/*===================HEADER==========================*/
.navbar-mia {
  background-color: #f5f4ed;
  font-weight: bold;
  font-size: 20px;
}

.navbar-mia img {
  width: 95px;
}

/*===================CARRUSEL DE FOTOS==========================*/
.carrusel-fotos {
  max-height: 39rem !important;
}

/*=================== HEADER ==========================*/
footer {
  background: #202020;
  padding: 20px;
  margin: 0;
}

footer p {
  color: #ffffff;
  text-align: center;
}

#iconos a {
  display: inline-block;
  margin: 0 8px;
  color: #f5f4ed;
  font-size: 26px;
}

/*=========================LOCALES================================*/
#locales {
  background-color: #f5dfa5;
  padding: 20px;
}

.locales-titulo {
  color: #ffffff;
  font-size: 45px;
  padding: 20px;
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
}

/*=========================LOCALES================================*/
/*=========================CONTACTOS BACKGROUND================================*/
#bg-contactos {
  position: relative;
  top: 130px;
}

#seccion-contacto {
  background-color: rgba(244, 214, 139, 0.6823529412);
  min-height: 500px;
  position: relative;
}

/*=========================CONTACTOS FORMULARIO================================*/
#contenedor-formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #412715;
  border-radius: 15px;
}

#titulo-formulario {
  margin-top: 20px;
  color: #ffffff;
  transform: translateY(-10px);
}


.btn-mio {
  color: #f2f2f2;
  background-color: rgb(120, 9, 9);
  border-color: #f2f2f2;
  transition: background-color 0.4s;
}

#contacto-footer {
  height: 150px;
  position: relative;
  bottom: 0;
}

/*=========================CONTACTOS FORMULARIO================================*/

/*# sourceMappingURL=styles.css.map */