/*===================HEADER==========================*/
.navbar-mia {
    background-color: $color-nav;
    font-weight: bold;
    font-size: $font-nav;

    img {
        width: 95px;
    }
}

/*===================CARRUSEL DE FOTOS==========================*/

.carrusel-fotos {
    max-height: 39rem !important;
}

/*=================== HEADER ==========================*/