$color-primario: #f5dfa5;
$color-secundario: #412715;
$color-terciario: #202020;
$color-primario-d: #f4d68bae;
$color-nav: #f5f4ed;
$color-titulos: #ffffff;
$color-botones: rgb(120, 9, 9);
$color-texto: #000;
$color-let-bor-btn: #f2f2f2;
$font-h1h2: 'Montserrat', sans-serif;
$font-size-t: 45px;
$font-size-subt: 40px;
$font-nav: 20px;
$font-size-p: 20px;